<!--
<div class="container">
-->

<!--
    <pre>{{template.group | json}}</pre>
-->
<div id="wrapper" data-spy="scroll" data-target="#spy" class="">
    <!-- Sidebar -->
    <!--    <div id="sidebar-wrapper" class="">


    &lt;!&ndash;        <nav id="spy">
                <ul class="sidebar-nav nav">
                    <li class="sidebar-brand active"><a href="#home" class=""><span class="fa fa-home solo">Top</span></a>
                    </li>
                    <li *ngFor="let g of template.group" class="">
                        &lt;!&ndash;
                                            <pre>{{g | json}}</pre>
                        &ndash;&gt;
                        <a [href]="'#' + g['_xml:id']" data-scroll="" class="">
                            <span class="fa fa-anchor solo">
                                <div *ngFor="let l of g.label">
                                    <div *ngIf="l['_xml:lang'] == interfaceLanguage">{{l.__text}}</div>
                                </div>
                            </span>
                        </a>
                </ul>
            </nav>&ndash;&gt;
            <md-card>
                <button (click)="setLanguage('it')">IT</button>
                <button (click)="setLanguage('en')">EN</button>
                <a routerLinkActive="active" routerLink="/debug">debug</a>
            </md-card>
            <md-list>
                <md-list-item *ngFor="let g of template.group">
                    <a [href]="'#' + g['_xml:id']" data-scroll="" class="">
                            <span class="fa fa-anchor solo">
                                <div *ngFor="let l of g.label">
                                    <div *ngIf="l['_xml:lang'] == interfaceLanguage">{{l.__text}}</div>
                                </div>
                            </span>
                    </a>
                </md-list-item>
            </md-list>

        </div>-->
    <div class="header" style="z-index: 1000;">
        <!--<img src="assets/logo-getit.png">-->
        <div class="content-header">
            EDI-NG Client v2.00-alpha
        </div>
        <nav>
            <ul>
                <li><a routerLink="/catalogue-list">EDI Catalogue</a></li>
            </ul>
            <ul>
                <li><a routerLink="select">Local templates</a></li>
            </ul>
        </nav>
    </div>
    <md-sidenav-container style="padding-top: 100px;">
        <router-outlet></router-outlet>

    </md-sidenav-container>

</div>
<script>

    /*Menu-toggle*/
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("active");
    });

    /*Scroll Spy*/
    $('body').scrollspy({target: '#spy', offset: 80});

    /*Smooth link animation*/
    $('a[href*=#]:not([href=#])').click(function () {
        if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
            if (target.length) {
                $('html,body').animate({
                    scrollTop: target.offset().top
                }, 1000);
                return false;
            }
        }
    });
</script>
