<mat-card>
  <!--
          <h1>{{metadataService.catalogueMetadatumURL}}</h1>
  <button [routerLink]="['/catalogue-list']">Catalogue</button>
  -->
  <button mat-button (click)="setLanguage('it')">IT</button>
  <button mat-button (click)="setLanguage('en')">EN</button>
  <button mat-raised-button color="primary" (click)="sendMetadata()">Save metadata</button>
  <div *ngIf="false">
    <a target="_blank" href="{{metadataService.catalogueMetadatumURL}}.json"
       *ngIf="metadataService.catalogueMetadatumURL != null">View EDIML</a>
    <a target="_blank" href="{{metadataService.catalogueMetadatumURL}}.xml"
       *ngIf="metadataService.catalogueMetadatumURL != null">View Generated XML</a>
  </div>
  <!--
        <a routerLinkActive="active" routerLink="/debug">debug</a>
  -->
  <!--
        <button (click)="showDebug=!showDebug">EDIML</button>
  -->
  <pre *ngIf="showDebug">{{template | removeCyclic | json}}</pre>
</mat-card>
<mat-nav-list>
  <mat-list-item *ngFor="let g of groups">
    <!--<a [routerLink]="['/main']" [attr.fragment]="'#' + g['_xml:id']" data-scroll="" class="">-->
    <a (click)="goTo('#' + g['_xml:id'])">
                        <span class="fa fa-anchor solo">
                            <div *ngFor="let l of g.label">
                                <div *ngIf="l['_xml:lang'] == interfaceLanguage">{{l.__text}}</div>
                            </div>
                        </span>
    </a>
  </mat-list-item>
</mat-nav-list>
