<div class="flex-container"
     fxLayout="column"
     fxLayout.xs="column"
     fxLayoutAlign="center center"
     fxLayoutAlign.xs="start">

    <div class="flex-item" fxFlex fxFlexAlign="start">
        Search: <input type="text" [(ngModel)]="query" (keyup)="onKeyUp()">
    </div>
    <div class="flex-item" fxFlex>
        <div class="flex-container"
             fxLayout="row" *ngFor="let m of metadata">
            <div class="flex-item" fxFill>
                <md-card>
                    <div class="flex-item" fxFlex="20%">
                        <qr-code [value]="m._source.fileUri" [size]="100"></qr-code>
                    </div>
                    <div class="flex-container"
                         fxLayout="column">
                        <md-card-title>{{m._id}}</md-card-title>
                        <md-card-subtitle>{{m._source.templateName}} (score: {{m._score | number: '1.2-3'}})</md-card-subtitle>
                        <md-card-content>
                            <div class="flex-container"
                                 fxLayout="row">
                                <div class="flex-item">
                                    <p><a md-button [routerLink]="'/' + m._source.templateName" [queryParams]="{ edit: m._id}" target="_blank">Edit</a>
                                    </p>
                                </div>
                                <div class="flex-item">
                                    <p><a md-button href="{{m._source.fileUri}}" target="_blank">EDIML</a></p>
                                </div>
                                <div class="flex-item">
                                    <p><a md-button href="{{m._source.fileUri}}.xml" target="_blank">XML</a></p>
                                </div>
                            </div>

                            <!--
                              <pre>{{m | json}}</pre>
                            -->
                        </md-card-content>
                    </div>
                </md-card>
            </div>
        </div>
    </div>
</div>
