<input type="text" [(ngModel)]="search.templateName">
<md-card *ngFor="let m of metadata | filterBy: search">
  <md-card-title>{{m._id}}</md-card-title>
  <md-card-subtitle>{{m.templateName}}</md-card-subtitle>
  <md-card-content>
    <p><a md-button href="/{{m.templateName}}?edit={{m._id}}" target="_blank">Edit</a></p>
    <p><a md-button href="{{m.fileUri}}" target="_blank">EDIML</a></p>
    <p><a md-button href="{{m.fileUri}}.xml" target="_blank">XML</a></p>

    <!--
      <pre>{{m | json}}</pre>
    -->
  </md-card-content>
</md-card>
