<!--
<pre>{{item | json}}</pre>
-->
<div class="itemBlock"></div>
<div [ngSwitch]="item.show" *ngIf="!item.fixed">
  <div>
    <div class="form form-label itemLabel">
      <div *ngFor="let l of item.label">
        <div *ngIf="l['_xml:lang'] == interfaceLanguage && item.mandatory" class="itemMandatory">{{l.__text}}</div>
        <div *ngIf="l['_xml:lang'] == interfaceLanguage && !item.mandatory" class="itemNotMandatory">{{l.__text}}</div>
      </div>
    </div>
    <div *ngFor="let h of item.help">
      <md-icon *ngIf="h['_xml:lang'] == interfaceLanguage" data-toggle="tooltip" data-placement="right"
               title="{{h.__text}}">info
      </md-icon>
    </div>
  </div>
  <div *ngSwitchCase="'combobox'">
    <app-edi-combobox [item]="item"></app-edi-combobox>
  </div>
  <div *ngSwitchCase="'autocomplete'">
    <app-edi-autocomplete [item]="item"></app-edi-autocomplete>
  </div>
  <div *ngSwitchCase="'textbox'">
    <app-edi-textbox [item]="item"></app-edi-textbox>
  </div>
  <div *ngSwitchCase="'boolean'">
    <app-edi-boolean [item]="item"></app-edi-boolean>
  </div>
  <div *ngSwitchCase="'textarea'">
    <app-edi-textarea [item]="item"></app-edi-textarea>
  </div>
  <div *ngSwitchCase="'date'">
    <app-edi-date [item]="item"></app-edi-date>
  </div>
  <div *ngSwitchCase="'qrcode'">
    <app-edi-qrcode [item]="item"></app-edi-qrcode>
  </div>
  <div *ngSwitchCase="'UUID'">
    <app-edi-uuid [item]="item"></app-edi-uuid>
  </div>
  <div *ngSwitchCase="'boundingBox'">
    <app-edi-bounding-box [item]="item"></app-edi-bounding-box>
  </div>
  <div *ngSwitchCase="'dateRange'">
    <app-edi-date-range [item]="item"></app-edi-date-range>
  </div>
  <div *ngSwitchCase="'label'">
    <p>{{item.value}}</p>
  </div>
  <div *ngSwitchDefault>
    <div class="alert">No match for {{item.show}}</div>
  </div>
</div>
