.itemLabel {
    float: left;
    padding-right: 4px;
}

.itemBlock {
    clear: both;
}

.itemMandatory {
  color: #428bca;
  font-weight: bold;
}
.itemNotMandatory {
  color: #000;
  font-weight: bold;
}
