<div class='container-fluid typeahead-demo'>
    <input type="text"
           ng-model="i.value"
           placeholder="Locations loaded via $http"
           uib-typeahead="value as value.l for value in getAutocompletion(i.id, i.datasource, $viewValue)"
           typeahead-loading="loadingLocations"
           typeahead-no-results="noResults"
           typeahead-on-select="onSelect(i, $item, $model, $label)"
           class="form-control">
    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
    <div ng-show="noResults">
        <i class="glyphicon glyphicon-remove"></i> No Results Found
    </div>
    <label class="form-control">URI:
        <input type="text" ng-model="i.value.codeValue" id="{{i.id}}_uri">
    </label>
    <label class="form-control">URN:
        <input type="text" ng-model="i.value.urnValue" id="{{i.id}}_urn">
    </label>
</div>