<!--
<p>This is the partial for view 1.</p>

<my-customer info="key" ng-repeat="(key, value) in people"></my-customer>
-->
<!--pre>{{datasourceInstances | json}}</pre!-->
<div class="content-wrap">
    <div id="mdcontentOld"></div>
    <div id="ediml">
    </div>

    <div class="container">
        <pre>Datasources: {{datasources.length}}</pre>
        <pre>Datasources: {{datasourceInstances.length}}</pre>
        <!-- pre>Datasources: {{datasourceInstances | json}}</pre -->
        <div class="row" ng-if="false">
            <div class="accordion-test">
                <accordion close-others="true">
                    <accordion-group is-open="true">
                        <accordion-heading>
                            header 1 <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></i>
                        </accordion-heading>
                        <p>
                            <strong>This</strong> content is straight in the template, and is initially expanded.
                        </p>
                    </accordion-group>
                    <accordion-group>
                        <accordion-heading>
                            header 2 <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></i>
                        </accordion-heading>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ornare lobortis ipsum, vel dictum diam. Cras consectetur lorem non laoreet gravida. Aenean magna magna, accumsan et urna at, pellentesque ultrices nisi.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ornare lobortis ipsum, vel dictum diam. Cras consectetur lorem non laoreet gravida. Aenean magna magna, accumsan et urna at, pellentesque ultrices nisi.
                        </p>
                    </accordion-group>
                </accordion>
            </div>
        </div>
        <h1>EDI <span id="template-version"></span></h1>
        <script> var elements = []; </script>
        <div class="row">
            <div class="tabbable tabs-left">
                <ul id="myTab" class="nav nav-tabs">
                    <div class="bottoniera">
                        <button class="btn btn-primary" ng-click="language = 'it'">it</button>
                        <button class="btn btn-primary" ng-click="language = 'en'">en</button>
                        <br>
                        <!--button class="btn btn-danger debug" onclick="toggleEDIML(this);">show EDIML</button>
                        <br-->
                        <button class="btn btn-danger" onclick="ediml.saveAs('pippo');">save locally</button>
                        <br>
                        <button class="btn btn-danger" onclick="ediml.load('pippo');">load last version</button>
                        <br>
                        <!--button class="btn btn-danger" style="display: none;" id="EDIMLDownload"
                                onclick="ediml.downloadEDIML();">download EDIML
                        </button>
                        <br-->
                        <button class="btn btn-danger" style="display: none;" id="MDDownload"
                                onclick="ediml.downloadMetadata();">download generated XML
                        </button>
                        <br>
                        <button class="btn btn-primary" id="sendMetadata">send metadata</button>
                        <input type="checkbox" value="0" id="ignoreWarnings">ignore warnings
                    </div>
                    <li ng-repeat="g in template.template.group">
                        <a href='#{{g.id}}' id='linkTo_{{g.id}}'>
                            <label class="form-label" ng-repeat="l in g.label" ng-if="language == l['_xml:lang']">{{l['__text']}}</label>
                        </a>
                    </li>
                </ul>
                <article class="span8" id="mdcontent">
                    <div id="theForm">
                        <div class="tab-content">
                            <div ng-repeat="g in template.template.group">
                                <edi-group
                                        id="{{g.id}}">
                                    <label ng-repeat="e in g.elements.element" id="{{e.id}}">
                                        {{e.label}}
                                    </label>
                                </edi-group>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
    <div id="debug">

    </div>
</div>


<!--
<pre>{{template.template.group | json}}</pre>
<pre>{{error | json}}</pre>-->
