ul, li {
    list-style-type: none;
}
.suggestions {
    background-color: white;
    border: 1px solid #e2e2e2;
}

.suggestions ul li a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

mat-input-container {
  width: 100%;
}

input.mat-input-element {
  background-color: #b2dba1 !important;
  padding: 10px 8px;
  width: 100%;
}

pre {
    display: block !important;
}